body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIEISPhHxWridsUbJRBInNwd_2ah0VJPIUhw&usqp=CAU');
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}


/* 

https://github.com/ImKennyYip/black-jack/tree/master
https://www.youtube.com/watch?v=bMYCWccL-3U&list=PLrgu_b7U8aQgrzmoqRSuH3KqWXzxaXuW6

*/

/* */